.filterInput {
  height: 30px;
  padding-left: 10px;
  background-color: black;
  border: 2px solid rgb(177, 53, 8);
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 100px;
}
.label {
  font-size: large;
  font-weight: bold;
}
