.mainFormWrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 100px;
  border: 2px solid rgb(177, 53, 8);
  width: fit-content;
  padding: 30px;
  border-radius: 20px;
}
.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.formButton {
  margin-top: 10px;
  margin-left: 40px;
  background-color: rgb(177, 53, 8);
  color: #ffffff;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.formButton:hover {
  border: 2px solid rgb(177, 53, 8);
}

.input {
  padding-left: 10px;
  background-color: black;
  border: 1px solid rgb(177, 53, 8);
  border-radius: 10px;
  height: 30px;
  width: 200px;
}

.error {
  margin-left: 15px;
  color: #d3640f;
}
