.contactList {
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.contactListItem {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(177, 53, 8);
}
